<form class="form-updateBeer" action="/beer/add/" method="post">

    <h2 class="form-signin-heading text-center">Modifier une bière</h2>
    <input type="text" class="form-control" id="inputBeerName" name="beerName" placeholder="Nom de la bière" required autofocus/>
    <input type="text" class="form-control" id="inputBeerType" name="beerType" placeholder="Type de bière" required />
    <input type="text" class="form-control" id="inputBeerDegre" name="beerDegre" placeholder="Degré d'alcool" required />

    <br>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Modifier"/>
</form>