<h1 class="text-center"> Bienvenue </h1>
<br>
<p>
    Sur <b>BeerApp</b> vous pouvez consulter la plus grosse base de donnée de bière au monde ...
    Vous pouvez ajouter vos bières préférés, les noter et mettre des commentaires.
    Commencez dès maintenant à partager vos expériences en vous <a href="/#/client/signUp">créant un compte</a> !
</p>